/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 

*/
body {
	background-color : lightgray;
}
div {
    padding : 0px !important;
}
.row {
    margin-top : 1px;
}
h4 {
    margin-top : 30px;
}
.cellule {
    background-color : white;
    padding : 20px 20px;
    font-weight : bold;
    margin : 5px;
    position : relative;
}

.cellule+.cellule {
    margin-top : 2px !important;
}
.grand {
    height : 350px;
    border : 1px solid lightgray;
}

img{
    width: 70%;
    height: 100%;
}

div.gallery.haut{
    margin: 5px;
    float: left;
    width: 95% !important;
    height: 60% !important;
}

div.gallery:hover {
    border: 4px solid #777;
}

div.image {
    width: 97%;
    height: 150px ;
    text-align: center;
    margin: 10px;
}

div.description{
     width: 100%;
     height: 40% ;
     text-align: center;
}

div.detail{
  display: inline-block;
    }
    
.form-control {
   display: inline !important; 
   }
 
nav{
   height: 100px !important; 
 }
 
 .gauche   {
       float:left !important;
 }
 
 .droite   {
       float:right !important;
 }
 .btn-info{
     height:50px !important;
     width: 200px !important;

 }    
 #qte{
     float: left !important;
 }
 


#boutonPortail{
 height:40px !important;
 width: 100% ;
 text-align: center !important;
}

hr{
  margin-top: 15px;  
}