/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Apr-2018, 6:44:04 PM
    Author     : Moumene
*/
body {
	background-color : lightgray;
}
div {
    padding : 0px !important;
}
.row {
    margin-top : 1px;
}
h4 {
    margin-top : 30px;
}
.cellule {
    background-color : white;
    padding : 20px 20px;
    font-weight : bold;
    margin : 5px;
    position : relative;
}

.cellule+.cellule {
    margin-top : 2px !important;
}
.grand {
    height : 304px;
    border : 1px solid lightgray;
}
.moyen {
    height : 200px;
    border : 1px solid lightgray;
}
.petit {
    height : 100px;
    border : 1px solid #ddd;
    border-width: 1px 2px 2px 1px;
}
img{
    height: 100% !important;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 95% !important;
    height: 30%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 50%;
    height: 20% ;
}

div.desc {
    text-align: center;
}

div.detail{
  display: inline-block;
    }
    
.form-control {
   display: inline !important; 
   }
 
nav{
   height: 100px !important; 
 }
 
 .gauche   {
       float:left !important;
 }
 
 .droite   {
       float:right !important;
 }
 .btn-info{
     height:50px !important;
     width: 200px !important;
     float: right !important;

 }    
 #qte{
     float: left !important;
 }
 


#boutonPortail{
 height:40px !important;
 width: 200px !important;
 text-align: center;
 padding:auto;
}