/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 

*/

.row {
    margin-top : 1px;
}

#bouton{
    width: 100%;
    
}

.btn{
    background:#000000;
    color:#ffffff;
}
.btn-btn{
    background:#B22222;
}


.moyenne {
    height : 350px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}


#imagesPortail{
    height :150px;
}

#imageDetail{
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    width: 200px;
    height: 200px;
}
